<section class="sub-hero">
  <div class="hero-content">
    <h1>{{post.title}}</h1>
    <h3>Written By: {{post.author}}</h3>
  </div>
</section>

<section class="post-content">
  <img ng-src="{{post.featured_image}}" />
  <h4>{{post.title}}</h4>
  <p>
    {{post.date}}
  </p>
  <p class="categories"><span ng-repeat="category in post.categories">{{category}}</span></p>
  <div class="stats">
    <p class="stats">Views: {{post.views}}</p>
    <p class="stats">Comments: {{post.comments}}</p>
    <p class="stats">Shares: {{post.shares}}</p>
  </div>
  <p>
    {{post.content}}
  </p>
  <p>
    Written By: {{post.author}}
  </p>
</section>
