<nav class="navigation">
  <a href="#" class="logo">The Client</a>
  <ul class="menu">
    <li>
      <a href="#">Link 1 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      <ul class="sub-menu">
        <li><a href="#">Link 1 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 1 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 1 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 1 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
      </ul>
    </li>
    <li>
      <a href="#">Link 2 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      <ul class="sub-menu">
        <li><a href="#">Link 2 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 2 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 2 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 2 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
      </ul>
    </li>
    <li>
      <a href="#">Link 3 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      <ul class="sub-menu">
        <li><a href="#">Link 3 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 3 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 3 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 3 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
      </ul>
    </li>
    <li>
      <a href="#">Link 4 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
      <ul class="sub-menu">
        <li><a href="#">Link 4 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 4 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 4 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        <li><a href="#">Link 4 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
      </ul>
    </li>
  </ul>
</nav>
